html {
    font-size: 16px;
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: white;
    background: url(https://s3.amazonaws.com/media.locally.net/original/HABA_ALT_2017-08-02-13-22-45.jpg);
    background-size: cover;
    font-family: Tahoma, sans-serif;
}

button {
    color: white;
    background: hotpink;
    padding: 0.5rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size:1.5rem;
    margin-top: 5px;
  }

canvas {
    border: 30px solid #e80000;
    border-radius: 10px;
    /* Set the width and height to half the actual size so it doesn't look pixelated */
    width: 800px;
    height: 500px;
    background: white;
}

canvas.shake {
    animation: shake 0.5s linear 1;
    /* Run shake over half a second, make it linear, & run only once */
}
/* Taking it at different values of the animation & moving it left & right a couple pixels */
@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}